<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main">
    <h1>Welcome to SearchByObjects</h1>
    <p>please select a option</p>
    <input type="file" id="file-dialog" class="selectors" onchange="select_files(this)">
    <input type="button" id="folder-dialog" class="selectors"
           onclick="window.open('/still_under_development', '_self')">

    <button id="file-dialog-trigger" class="btn btn-large waves-effect waves-light blue darken-3"
            onclick="$('#file-dialog').trigger('click')">Upload a file
    </button>
    <button id="folder-dialog-trigger" class="btn btn-large waves-effect waves-light blue darken-3"
            onclick="$('#folder-dialog').trigger('click')">
        Upload a folder
    </button>
</div>
<div id="triangle-holder">
    <div id="triangle-1"></div>
    <div id="triangle-2"></div>
</div>
</body>
</html>