<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
<title>Thing to help you</title>
<script src="{{ url_for('static', filename='libs/jquery/js/jquery-3.4.1.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='libs/materialize/css/materialize.min.css') }}">
<script src="{{ url_for('static', filename='libs/materialize/js/materialize.js') }}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

