<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'ico.html' %}
</head>
<body>
<div id="main-page">
    {% include 'home.html' %}
</div>
<div id="settings" style="display: none">
    {% include 'settings.html' %}
</div>
<script type="text/javascript">
    const select_files = (self) => {
        let file = self.files[0];
        reader.onload = function (e) {
            resultLink = e.target.result;

            upload.setAttribute('src', resultLink);
            video.load();
            video.play();
        };

        reader.readAsDataURL(file);
        let settingsCenter = document.getElementById('settings-form');
        let settingsCenterH = settingsCenter.offsetHeight;
        setTopCenter(totalHeight, settingsCenterH, settingsCenter);
        $(document).ready(function () {
            $('#target-selection').formSelect();
        });

        $(".dropdown-content>li>span").css("color", '#EF5350 !important');

        fd.append('files', file);
        home.style['display'] = 'none';
        settings.style['display'] = 'block';
        body[0].style['background-image'] = 'none';
    };


    const isFolder = (files) => {
        return files.length > 0;
    };

    const setTopCenter = (height, divHeight, target) => {
        target.style['margin-top'] = (height / 2 - divHeight / 2) + 'px'
    };

    const setLeftCenter = (width, divWidth, target) => {
        target.style['margin-left'] = (width / 2 - divWidth / 2) + 'px'
    };

    let reader = new FileReader();
    let fd = new FormData();

    let totalHeight = window.innerHeight;
    let halfHeight = totalHeight / 2;

    let totalWidth = window.innerWidth;

    let home = document.getElementById('main-page');

    let video = document.getElementById('video');
    let upload = document.getElementById('upload');

    let settings = document.getElementById('settings');
    let body = document.getElementsByTagName('body');

    let blockCenterH = home.offsetHeight;

    let cutTriangle1 = document.getElementById('triangle-1');
    let cutTriangle2 = document.getElementById('triangle-2');

    let cutTriangleFill = totalHeight - ((halfHeight + blockCenterH) - blockCenterH / 2) + "px solid black";

    setTopCenter(totalHeight, blockCenterH, home);

    cutTriangle1.style['border-bottom'] = cutTriangleFill;
    cutTriangle2.style['border-bottom'] = cutTriangleFill;

    const labelSelector = document.getElementById('target-selection');
    let labels, option, resultLink;

    $.ajax({
        url: '/get_classes',
        method: 'GET',
        data: {}
    }).done(function (response) {
        labels = response.classes;
        for (let i = 0; i < labels.length; i++) {
            option = document.createElement('option');
            option.classList.add('label-options');
            option.text = labels[i];
            option.value = labels[i];
            labelSelector.add(option);
        }
    });

    $('#start').click(function () {
        fd.append('frameSkip', $("#frameSkip").val());
        fd.append('target', $('#target-selection option:selected').html());
        $.ajax({
            url: '/uploads',
            type: 'POST',
            data: fd,
            contentType: false,
            processData: false,
            success: function () {
                window.open('/processing', '_self')
            }
        });
    });

</script>
</body>
</html>
