<div id="settings-form" class="main" style="padding: 0 50px 0 50px">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row">
                <div class="col s6 section">
                    <div class="video-container">
                        <video id="video" width="640" height="360" controls>
                            <source id="upload" src="">
                        </video>
                    </div>
                </div>
                <div id="upload-file">
                    <div class="col s6 section valign-wrapper">
                        <div class="input-field col s6">
                            <input id="frameSkip" type="text" name="frameSkip" placeholder="Skip frames *recommend: 100*">
                        </div>
                        <div class="input-field col s6">
                            <select name="selection" id="target-selection">
                                <option value="" selected>Choose your target</option>
                            </select>
                            <button id="start" class="btn waves-effect waves-light">
                                Start
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
